<!DOCTYPE html>
<html lang="ru">
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Изучаю Vue</title>
</head>
<body>
	<div id="app"> 
		<h1>{{ message }}</h1>
	</div>
	
	<div id="app-2">
		<span v-bind:title="message">
		Наведи на меня курсор на пару секунд,
		чтобы увидеть динамически связанное значение title!
	</span>
	</div>
	
	<div id="app-3">
		<span v-if="seen">Сейчас меня видно!</span>
	</div>
	
	<div id="app-4">
		<ul>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ul>
	
	</div>
	
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage" >Перевернуть текст</button>
	
	</div>
	
	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
		<todo-item></todo-item>
	
	</div>
	
	<div>
		<p>
			<todo-item></todo-item>
		</p>
	</div>
<script type="text/javascript" src="./js/myscript.js"></script>
</body>
</html>